.header {
  background-color: #2196f3;
  padding: 20px 50px;
  border-bottom: 2px solid #1e88e5;
}

.header-wrapper {
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
}

.header-logo {
  font-size: 33px;
  text-align: left;
}

.header-time {
  font-size: 20px;
  text-align: center;
}
