<div class="header">
  <div class="header-wrapper">
    <div class="header-logo">Calendar</div>
    <div class="header-time">March 27, 2023</div>
    <div class="header-actions"></div>
  </div>
</div>
