<div class="calendar__add-more__dialog">
  <div class="dialog__wrapper">
    <div class="dialog__header">
      Add new event
    </div>
    <form [formGroup]="formData" (ngSubmit)="onSubmitForm(formData.value)" >
      <div class="dialog__content">
        <mat-form-field>
          <mat-label>Event title</mat-label>
          <input matInput name="eventTitle" formControlName="eventTitle">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Choose a date for the event</mat-label>
          <input matInput [matDatepicker]="picker" name="eventDate" formControlName="eventDate">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="dialog__bottom">
        <button mat-raised-button color="primary" type="submit">Save</button>
      </div>
    </form>

    <div *ngIf="dialogMessage.message !== ''">
        <div class="alert-box" [ngClass]="dialogMessage.status === 'success' ? 'success' : 'error'">
          {{ dialogMessage.message }}
        </div>
    </div>
  </div>
</div>
