.dialog__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-self:last baseline;
}

.dialog__header {
  background-color: #1e88e5;
  color: #FFFFFF;
  padding: 20px 30px;
  text-transform: uppercase;
}

.dialog__content {
  padding: 30px 30px 10px;
  display: flex;
  flex-direction: column;
}

.dialog__bottom {
  padding: 0 30px;
}

.alert-box {
  margin: 20px 30px;
  border-radius: 5px;
  padding: 10px;
  text-transform: uppercase;
  font-size: 13px;
}

.alert-box.success {
  background-color: #81c784;
  color: #FFFFFF;
}

.alert-box.error {
  background-color: #ef5350;
  color: #FFFFFF;
}
