table,
tr,
th,
td {
  border: 1px solid #1e88e5;
  border-collapse: separate;
  border-spacing: 0px;
}

table {
  border-radius: 5px;
}

th {
  padding: 30px;
  border-spacing: 0;
  background-color: #1e88e5;
  color: #FFFFFF;
  text-transform: uppercase;
}

td {
  min-width: 50px;
  min-height: 50px;
  height: 50px;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  padding: 30px 50px;
}

.tasks {
  background-color: transparent;
  height: 52px;
}

.grab {
  cursor: -webkit-grab;
  cursor: grab;
  background-color: rgba(0, 0, 0, .3);
  color: #FFFFFF;
  border-radius: 50px;
  padding: 10px;
  text-transform: uppercase;
  margin: 0 20px 5px;
  text-align: center;
}

.calendar__add-more {
  padding-top: 30px;
}
