<div class="container">
  <table>
    <thead>
      <tr>
        <th *ngFor="let weekDay of weekDayNames">{{ weekDay }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let week of weeks">
        <td *ngFor="let dayObj of week">
          <ng-container *ngIf="dayObj.schedules">
            <span>{{ dayObj.day }}</span>
            <div class="tasks" cdkDropList>
              <div *ngFor="let schedule of dayObj.schedules" cdkDrag class="grab">
                {{ schedule.title }}
              </div>
            </div>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="calendar__add-more">
    <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="showAddMorePopup()"
    >
      <mat-icon aria-hidden="false" aria-label="Create event" fontIcon="add"></mat-icon>
      Create event
    </button>
  </div>

</div>
